@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chat";
}
@*
<main>
</main>
*@
<main class="text-center">
    <h1 class="display-4">Welcome to uChat <span id="name">Guest</span></h1>
    <div class="row gap-4 w-100">
    </div>
    <br/>
    <p>
        Enter the RoomId to join the chat
    </p>
    <form action="/chat/groupchat" method="post">
            <div class="form-group">
				<label for="roomid">RoomId</label>
				<input class="form-control" type="text" name="roomid" id="roomid" required>
            </div>
    </form>
    <div class="mt-4">
        <button class="btn btn-danger" onclick="logout();">Logout</button>
    </div>
</main>

<script>
    localStorage.getItem("username") ? null : window.location.href = "/";
    document.getElementById('name').innerText = localStorage.getItem("username");
    const logout = () => {
        localStorage.removeItem("username");
        window.location.href = "/";
    }
</script>